@{
    ViewData["Title"] = "Home Page";
}

<div class="col mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Ínicio</a></li>
            <li class="breadcrumb-item active" aria-current="page"></li>
        </ol>
    </nav>

    <div class="row  mt-0 mb-0">
        <div class="col-9  mt-0">
            <div class="card small p-0">
                <div class="card-header">
                    Graficos
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">Risco Físico</div>
                                <div class="card-body">
                                    <p style="color: white;">A</p>
                                    <p style="color: white;">A</p>
                                    <p style="color: white;">A</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">Risco Químicos</div>
                                <div class="card-body">
                                    <p style="color: white;">A</p>
                                    <p style="color: white;">A</p>
                                    <p style="color: white;">A</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">Risco Biológicos</div>
                                <div class="card-body">
                                    <p style="color: white;">A</p>
                                    <p style="color: white;">A</p>
                                    <p style="color: white;">A</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">Risco Ergonômicos</div>
                                <div class="card-body">
                                    <p style="color: white;">A</p>
                                    <p style="color: white;">A</p>
                                    <p style="color: white;">A</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">Risco de Acidentes</div>
                                <div class="card-body">
                                    <p style="color: white;">A</p>
                                    <p style="color: white;">A</p>
                                    <p style="color: white;">A</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-0 mr-1">
            <div class="row">
                <div class="col small">
                    <div class="card">
                        <div class="card-header">Boletins Aberto</div>
                        <div class="card-body p-0">
                            <div class="row p-2">
                                <div class="col">Risco Físico</div>
                                <div class="col-3 text-right mr-3">00</div>
                            </div>
                            <hr class="m-0">
                            <div class="row p-2">
                                <div class="col">Risco Químicos</div>
                                <div class="col-3 text-right mr-3">00</div>
                            </div>
                            <hr class="m-0">
                            <div class="row p-2">
                                <div class="col">Risco Biológicos</div>
                                <div class="col-3 text-right mr-3">00</div>
                            </div>
                            <hr class="m-0">
                            <div class="row p-2">
                                <div class="col">Risco Ergonômicos</div>
                                <div class="col-3 text-right mr-3">00</div>
                            </div>
                            <hr class="m-0">
                            <div class="row p-2">
                                <div class="col">Risco de Acidentes</div>
                                <div class="col-3 text-right mr-3">00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col small">
                    <div class="card">
                        <div class="card-header">Boletins Fechado</div>
                        <div class="card-body p-0">
                            <div class="row p-2">
                                <div class="col">Risco Físico</div>
                                <div class="col-3 text-right mr-3">00</div>
                            </div>
                            <hr class="m-0">
                            <div class="row p-2">
                                <div class="col">Risco Químicos</div>
                                <div class="col-3 text-right mr-3">00</div>
                            </div>
                            <hr class="m-0">
                            <div class="row p-2">
                                <div class="col">Risco Biológicos</div>
                                <div class="col-3 text-right mr-3">00</div>
                            </div>
                            <hr class="m-0">
                            <div class="row p-2">
                                <div class="col">Risco Ergonômicos</div>
                                <div class="col-3 text-right mr-3">00</div>
                            </div>
                            <hr class="m-0">
                            <div class="row p-2">
                                <div class="col">Risco de Acidentes</div>
                                <div class="col-3 text-right mr-3">00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

