@model IEnumerable<SAGRE.Models.AnaliseAmbiente.TmpCheckList>

    @{
    Layout = null;
    ViewData["Title"] = "Index";
    }
    <html>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <body class="bg-dark m-2">

        <div class="row mt-1">
            <div class="col-8">
                <div class="card">
                    <div class="card-header small">
                        CHECKLIST PARA AVALIAÇÃO SIMPLIFICADA DAS CONDIÇÕES BIOMECÂNICAS DO POSTO DE TRABALHO
                    </div>
                    <div class="card-body">

                        <div class="alert alert-secondary mb-0" role="alert">
                            <div class="row small font-weight-bold">
                                <div class="col-10">Pergunta</div>
                                <div class="col">Resposta</div>
                            </div>
                        </div>

                        <div class="alert mb-0" role="alert">

                            <div class="row mt-0 small">
                                <div class="col-10">
                                    A bancada de trabalho/máquIna está localizada em altura correta (trabalho pesado: ao nível do púbis /
                                    trabalho moderado: na altura do cotovelo / trabalho teve: a 30 cm dos olhos)?
                                </div>
                                <div class="col">

                                </div>
                            </div>
                            <hr class="mt-2 mb-2"/>
                            <div class="row mt-0 small">
                                <div class="col-10">
                                    A bancada de trabalho/máquIna está localizada em altura correta (trabalho pesado: ao nível do púbis /
                                    trabalho moderado: na altura do cotovelo / trabalho teve: a 30 cm dos olhos)?
                                </div>
                                <div class="col">

                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
            </div>
        </div>
    
    
    </body>
</html>
