@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser>  SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Gerenciamento e Prevenção de Risco Ambiental</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/Estilos.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    </environment>
</head>
<body class="p-0 m-0 bg-light">
    @if (SignInManager.IsSignedIn(User))
    {

        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a class="navbar-brand fontNavBar" href="#">Sistema de Análise e Apoio a Gestão de Risco Ergonômico</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <ul class="navbar-nav mr-auto">
                </ul>
                <div class="form-inline my-2 my-lg-0">

                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Ínicio <span class="sr-only">(página atual)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Boletim" asp-action="Index"><i class="fas fa-edit"></i> Lançar Boletim</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-paste"></i> Relatórios
                            </a>
                            <div class="dropdown-menu pt-1" aria-labelledby="navbarDropdown">
                                <div class="dropdown-divider mb-0 mt-0"></div>
                                <a class=" dropdown-item small mb-1 text-center"><span class="small font-weight-bold">Risco Ergonômico - Completo</span></a>
                                <div class="dropdown-divider mt-0"></div>
                                <a class="dropdown-item small" asp-controller="RelatorioCompleto" asp-action="Index"><i class="fas fa-user mr-2"></i>Relatório por Avaliador</a>
                                <a class="dropdown-item small" asp-controller="RelatorioAtividade" asp-action="Index"><i class="fas fa-people-carry mr-2"></i>Relatório por Atividade</a>
                                <a class="dropdown-item small" asp-controller="RelatorioSetor" asp-action="Index"><i class="fas fa-store-alt mr-2"></i>Relatório por Seto</a>
                                <div class="dropdown-divider mb-0"></div>
                                <a class=" dropdown-item small mb-1 text-center"><span class="small font-weight-bold">Gráficos de Boletins</span></a>
                                <div class="dropdown-divider mt-0"></div>
                                <a class="dropdown-item small mt-0" asp-controller="GraficoBoletins" asp-action="Index"><i class="fas fa-chart-pie mr-2"></i>Boletins Lançados</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-plus-square"></i> Cadastros
                            </a>
                            <div class="dropdown-menu pt-1" aria-labelledby="navbarDropdown">
                                <div class="dropdown-divider mb-0 mt-0"></div>
                                <a class=" dropdown-item small mb-1 text-center"><span class="small font-weight-bold">Empresa</span></a>
                                <div class="dropdown-divider mt-0"></div>
                                <a class="dropdown-item small ml-0" asp-controller="Setor" asp-action="Index"><i class="fas fa-store-alt mr-2"></i>Setor da Empresa</a>
                                <a class="dropdown-item small" asp-controller="Local" asp-action="Index"><i class="fas fa-layer-group mr-3"></i>Local da Empresa</a>
                                <div class="dropdown-divider mb-0"></div>
                                <a class=" dropdown-item small mb-1 text-center"><span class="small font-weight-bold">Risco Ergonômicos</span></a>
                                <div class="dropdown-divider mt-0"></div>
                                <a class="dropdown-item small mt-0" asp-controller="Atividades" asp-action="Index"><i class="fas fa-people-carry mr-3"></i>Atividades</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cogs"></i> Configuração
                            </a>
                            <div class="dropdown-menu pt-1" aria-labelledby="navbarDropdown">
                                <div class="dropdown-divider mb-0 mt-0"></div>
                                <a class=" dropdown-item small mb-1 text-center"><span class="small font-weight-bold">Configuração de Sistema</span></a>
                                <div class="dropdown-divider mt-0"></div>
                                <a class="dropdown-item small ml-0" asp-controller="GruposRisco" asp-action="Index"><i class="fas fa-layer-group mr-3"></i>Grupo de Risco</a>
                                <a class="dropdown-item small" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus mr-3"></i>Usuário</a>
                                <div class="dropdown-divider mb-0"></div>
                                <a class=" dropdown-item small mb-1 text-center"><span class="small font-weight-bold">Parâmetros de Análise</span></a>
                                <div class="dropdown-divider mt-0"></div>
                                <a class="dropdown-item small mt-0" asp-controller="ClassificaoOWAS" asp-action="Index"><i class="fas fa-layer-group mr-3"></i>Classificação OWAS</a>
                            </div>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i> @UserManager.GetUserName(User)
                                </a>
                                <div class="dropdown-menu pt-1 pb-1" aria-labelledby="navbarDropdown">
                                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home" , new { area="" })" method="post" id="logoutForm" class="navbar-right form-inline mb-1 mt-1">
                                        <button type="submit" class="dropdown-item small"><i class="fas fa-sign-out-alt mr-3 ml-0"></i> Sair</button>
                                    </form>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                                <form class="form-inline my-2 my-lg-0">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a asp-area="Identity" asp-page="/Account/Register" class="btn btn-sm btn-secondary mr-1">Registrar</a></li>
                                        <li><a asp-area="Identity" asp-page="/Account/Login" class="btn btn-sm btn-secondary mr-1">Logar-se</a></li>
                                    </ul>
                                </form>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    }

    <partial name="_CookieConsentPartial" />

    <div class="container-fluid row pl-5">

        @RenderBody()

    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
        </script>
    </environment>
    <environment exclude="Development">

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
